* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerwrapper {
    display: flex;
    width: 100%;
    background-color: #000000;
    align-items: center;
    justify-content: space-around;
    height: 35px;
    font-size: 12px;
}

.wrappermiddle {
    color: white;

}

.wrapperleftside {
    color: white;
    display: flex;

}

.wrapperleftside div {
    padding: 0 7px;
}

.wrapperrightside ul {
    display: flex;
    list-style: none;
}

.wrapperrightside ul a {
    text-decoration: none;
    color: white;
}

.wrapperrightside ul li {
    padding: 0 5px;
}

.headermiddle {
    width: 20%;
}

.headerleft ul {
    display: flex;
    list-style: none;
}

.headerleft ul a {
    text-decoration: none;
    color: black;
}

.headerleft ul li {
    padding: 0 15px;
}

.header {
    background-color: #e6eaed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90px;
}

.headerright ul {
    display: flex;
    list-style: none;
}

.headerright ul a {
    text-decoration: none;
    color: black;

}

.headerright ul li {
    padding: 0 7px;
}

.sidebar a {
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.viewcollection {
    background-color: #111111;
    color: white;
    border: 0ch;
    width: 230px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}


.frontbanner {
    background: url(images/banner.webp) no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 600px;
    border: #111111;
    position: relative;
}

.sidebar {
    width: 30%;
    position: absolute;
    top: 18%;
    left: 3%;

}

.sections {
    text-align: center;
    width: 100%;
    height: 70px;
    margin-top: 80px;
}

.item img {
    width: 300px;
    height: 400px;
}

.s1-row1 {
    display: flex;
    justify-content: space-evenly;
    line-height: 30px;
}

.item-icons ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.item-icons ul a {
    text-decoration: none;
    color: white;
}

.item-icons ul li {
    padding: 0 3px;
}

.item-icons button {
    background-color: #363232;
    border: none;
    padding: 7px;
    border-radius: 5px;
}

.ratings {
    color: #ffbe00;
    font-size: 20px;
    text-align: center;
}

.description a {
    text-decoration: none;
    color: black;
}

.description {
    text-align: center;
}

.price {
    text-align: center;
}

.s1-row2 {
    display: flex;
    justify-content: space-evenly;
    line-height: 30px;
    margin-top: 70px;
}

.more button {
    background-color: #111111;
    border: 0ch;
    width: 170px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;

}

.more a {
    color: white;
    text-decoration: none;
}

.more {
    display: flex;
    justify-content: center;
}

.more-categories img {
    width: 236px;
    height: 316px;
}

.more-categories {
    position: relative;
}

.name {
    position: absolute;
    bottom: 30px;
    left: 20px;
    background-color: #fcfdfc;
    opacity: 0.6;
    width: 196px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}

.categories {
    display: flex;
    justify-content: space-evenly;
}

.section3-subdiv1 img {
    width: 280px;
    height: 363;
}

.section3-subdiv1 {
    width: 580px;
    height: 746px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section3-maindiv {
    display: flex;
    justify-content: space-evenly;
}

.sale-item {
    position: relative;
}

.sale {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff708e;
    color: white;
    font-size: 12px;
    padding: 5px;
}

.hot-item {
    position: relative;
}

.hot {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #e9a400;
    color: white;
    font-size: 12px;
    padding: 5px;
}

.section3-subdiv2 {
    position: relative;
}

.holiday-ready {
    background-color: white;
    color: #000000;
    position: absolute;
    bottom: 60px;
    left: 170px;
    padding: 15px;
}