* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerwrapper {
    display: flex;
    width: 100%;
    background-color: #000000;
    align-items: center;
    justify-content: space-around;
    height: 35px;
    font-size: 12px;
}

a {
    text-decoration: none;
}

.ml-10 {
    margin-left: 10px;
}

.text-color {
    color: white;
}

.text-color-b {
    color: black;
}

.d-flex {
    display: flex;
}

.header {
    background-color: #e6eaed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90px;
}

.sidebar a {
    font-size: 60px;
    font-weight: bold;
}

.b-styling {
    background-color: #111111;
    color: white;
    border: 0ch;
    font-weight: bold;
    margin-top: 40px;

}

.viewcollection {
    width: 230px;
    height: 40px;
    font-size: 20px;
}


.frontbanner {
    background: url(images/banner.webp) no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 600px;
    border: #111111;
    position: relative;
}

.sidebar {
    width: 30%;
    position: absolute;
    top: 18%;
    left: 3%;

}

.sections {
    text-align: center;
    width: 100%;
    height: 70px;
    margin-top: 80px;
}

.item img {
    width: 300px;
    height: 400px;
}

.m-lr {
    margin: 0 2%;
}

.i-b-styling {
    background-color: #363232;
    border: none;
    padding: 7px;
    border-radius: 5px;
}

.f-properties {
    justify-content: center;
}

.ratings {
    color: #ffbe00;
    font-size: 20px;
    text-align: center;
}

.text-align {
    text-align: center;
}

.s1-row {
    justify-content: space-evenly;
    line-height: 30px;
}

.mt {
    margin-top: 70px;
}

.more button {
    width: 170px;
    height: 35px;
    font-size: 15px;
}

.more {
    justify-content: center;
}

.more-categories img {
    width: 236px;
    height: 316px;
}

.more-categories {
    position: relative;
}

.name {
    position: absolute;
    bottom: 30px;
    left: 20px;
    background-color: #fcfdfc;
    opacity: 0.6;
    width: 196px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name a {
    font-size: 25px;
}

.categories {
    justify-content: space-evenly;
}

.section3-subdiv1 img {
    width: 280px;
    height: 363;
}

.section3-subdiv1 {
    width: 580px;
    height: 746px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.section3-maindiv {
    justify-content: space-evenly;
}

.sale-item {
    position: relative;
}

.sale {
    background-color: #ff708e;
}

.hot-item {
    position: relative;
}

.child {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    padding: 5px;
}

.hot {
    background-color: #e9a400;
}

.section3-subdiv2 {
    position: relative;
}

.holiday-ready {
    background-color: white;
    color: #000000;
    position: absolute;
    bottom: 60px;
    left: 170px;
    padding: 15px;
}

.footer-wrapper {
    justify-content: space-evenly;
    width: 100%;
    height: 310px;
    margin-top: 80px;
    background-color: #fafafa;
    border-bottom: 1px dotted black;
}

.footer-submain-div {
    width: 20%;
    padding-top: 60px;
    line-height: 25px;
}

.m-t {
    margin-top: 20px;
}

.footer-list-items {
    margin-top: 20px;
    flex-direction: column;
}

.email-box {
    width: 260px;
    height: 40px;
    background-color: white;
    border: 1px solid #ddd;
    padding-left: 18px;
    margin-top: 15px;
}

.subscribe {
    width: 100px;
    height: 40px;
    padding: 5px;
    margin-top: 15px;
}

.footer {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #12130d;
}

.copyright {
    width: 585px;
}

.payments {
    width: 505px;
    text-align: right;
}