* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerwrapper {
    display: flex;
    width: 100%;
    background-color: #000000;
    align-items: center;
    justify-content: space-around;
    height: 35px;
    font-size: 12px;
}

.wrappermiddle {
    color: white;

}

.wrapperleftside {
    color: white;
    display: flex;

}

.wrapperleftside div {
    padding: 0 7px;
}

.wrapperrightside ul {
    display: flex;
    list-style: none;
}

.wrapperrightside ul a {
    text-decoration: none;
    color: white;
}

.wrapperrightside ul li {
    padding: 0 5px;
}

.headermiddle {
    width: 20%;
}

.headerleft ul {
    display: flex;
    list-style: none;
}

.headerleft ul a {
    text-decoration: none;
    color: black;
}

.headerleft ul li {
    padding: 0 15px;
}

.header {
    background-color: #e6eaed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90px;
}

.headerright ul {
    display: flex;
    list-style: none;
}

.headerright ul a {
    text-decoration: none;
    color: black;

}

.headerright ul li {
    padding: 0 7px;
}

.sidebar a{
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.viewcollection{
    background-color: #111111;
    color:white;
    border: 0ch;
    width:230px;
    height:40px;
    font-size: 20px;
    font-weight: bold;
    margin-top:40px;
}


.frontbanner{
   background: url(images/banner.webp) no-repeat;
   background-size:100% auto;
    width:100%;
    height: 1200px;
    border: #111111;
    position: relative;
}
.sidebar{
    width:30%;
   position: absolute;
  top:18%;
  left:3%;
    
}